
.site-grid-carousel-container {
	position: relative;
	width: 15em;
	height: 33em;
}
.site-grid-carousel-phone {
	width: 15em;
	position: absolute;
	z-index: 1;

}
.carousel-container {
	z-index: 2;
	position: absolute;

}
.carousel-image {display: none;}
.site-grid-carousel-image {
	border-radius: 30px;
	width: 15em;

}
.site-grid-carousel-phone-bezel {
	width: 15em;
	z-index: 3;
	position: absolute;

}
#site-grid-carousel-star {
	width: 7em;
	height: auto;
	position: absolute;
	right: 3em;
	top: 10em;
	z-index: 4;
}
@media only screen  /* WATCH STYLE*/
	and (max-width: 320px) {
		#site-grid-carousel-star {
			top: 25em;
		}
}
#site-grid-carousel-appstore {
	width: 7em;
}
.fade-effect {
	animation-name: fade;
	animation-duration: 1.5s;
}
@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}