.site-grid-container {
	/* margin-left: 6em; */
	width: 100%;
	display: grid;
	grid-template-areas:  'menu . carousel .'
												'menu . main .'
												'menu . aside .'
												'menu footer footer footer';
	grid-template-columns: min-content auto 60ch auto;

}
.site-grid-nav {      grid-area: menu; width: 100%;}
.site-grid-carousel { grid-area: carousel; }
.site-grid-gradient {
											grid-row: 1;
											grid-column: 1 / 5;
											z-index: -1;
											width: 100%;
											height: 100%;
}
.site-grid-main {     grid-area: main; }
.site-grid-aside { 		grid-area: aside; }

.site-grid-main-other {
	display: grid;
	grid-template-columns: auto auto;
}
@media only screen  /* MOBILE STYLE*/
	and (max-width: 812px) {
		.site-grid-main-other {
			grid-template-columns: 100%;
		}
}


.site-grid-footer {
	grid-area: footer;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 2em;
}
@media only screen  /* MOBILE STYLE*/
	and (max-width: 812px) {
		.site-grid-footer {
			grid-template-columns: 100%;
		}
}
.site-grid-footer-1, .site-grid-footer-2, .site-grid-footer-3 {justify-self: center;}

@media only screen /* IPAD PRO-ISH STYLE*/
	and (max-width: 834px) {
		.site-grid-container {
			width: 100%;
			display: grid;
			grid-template-areas:	'menu menu menu'
														'carousel carousel carousel'
														'. main .'
														'. aside .'
														'footer footer footer';
			grid-template-columns: auto 60ch auto;
			padding-bottom: 3em;
		}
		.site-grid-gradient {
			grid-row: 1 / 3;
			grid-column: 1 / 4;
		}
}
@media only screen  /* MOBILE STYLE*/
	and (max-width: 812px) {
		.site-grid-container {
			width: 100%;
			display: grid;
			grid-template-areas:	'menu menu menu'
														'carousel carousel carousel'
														'. main .'
														'. aside .'
														'footer footer footer';
			grid-template-columns: auto 98% auto;
/* 			margin-left: 2%;
			margin-right: 2%; */
			padding-bottom: 3em;
		}
		.site-grid-gradient {
			grid-row: 1 / 3;
			grid-column: 1 / 4;
		}
		.site-grid-nav {
			max-width: 98%;
			margin-left  : 1%;
			margin-right : 1%;
			margin-top   : 1%;
		}
}