.site-grid-container {
  /* margin-left: 6em; */
  width: calc(100%);
  display: grid;
  grid-template-areas:  'menu carousel carousel'
                        'menu main .'
                        'menu aside .'
                        'menu footer footer';
  grid-template-columns: auto 60ch auto;

}
.site-grid-nav {      grid-area: menu; }
.site-grid-carousel { grid-area: carousel; }
.site-grid-main {     grid-area: main; }
.site-grid-main-other {
  display: grid;
  grid-template-columns: fit-content(200px) 1fr;
}
.site-grid-form-container { grid-area: aside; }

.site-grid-footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media only screen /* TABLET STYLE*/
  and (max-width: 1279px) {
    .site-grid-container {
      width: 98%;
      display: grid;
      grid-template-areas:  'menu menu menu'
                            'carousel carousel carousel'
                            '. main .'
                            '. aside .'
                            'footer footer footer';
      grid-template-columns: auto 60ch auto;
      margin-left: 2%;
      margin-right: 2%;
      padding-bottom: 3em;
    }
}
@media only screen  /* MOBILE STYLE*/
  and (max-width: 812px) {
    .site-grid-container {
      width: 98%;
      display: grid;
      grid-template-areas:  'menu'
                            'carousel'
                            'main'
                            'aside'
                            'footer';
      grid-template-columns: 98%;
      margin-left: 2%;
      margin-right: 2%;
      padding-bottom: 3em;
    }
    .site-grid-main-other {
      display: grid;
      grid-template-columns: 1fr;
    }
    .site-grid-footer {
      grid-area: footer;
      display: grid;
      grid-template-columns: 1fr;
    }
  }