.site-grid-nav {
  width: 30rem;
  height: 20em;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 0.5em;
  position: relative;
  z-index: 1;
  overflow: hidden;
	margin-top: 0.5em;
	margin-left: 0.5em;
}

.site-grid-nav:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
}
.site-nav-container-flex {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	
	width: 5em;
}

@media only screen /* TABLET STYLE*/
	and (max-width: 1279px) {
		.site-grid-nav {
			max-width: 98%;
			margin-left: 1%;
			margin-right: 1%;
			margin-top: 1%;
		}
}
@media only screen /* IPAD PRO-ISH STYLE*/
	and (max-width: 1024px) {
		.site-grid-nav {
			margin-top: 0.5em;
			margin-left: 0.5em;
		}
}
@media only screen  /* MOBILE STYLE*/
	and (max-width: 812px) {
		.site-grid-nav { 
			margin-top: 0;
			height: auto;
			max-width: 98%;
			margin-left  : 1%;
			margin-right : 1%;
			margin-top   : 1%;
		}
		.site-nav-container-flex {
			display: flex;
			flex-direction: row;
			margin-bottom: 0.5em;
			width: 98%;
			margin: 0 auto;
			justify-content: space-between;
			align-items: center;
		}
}
@media only screen  /* WATCH STYLE*/
	and (max-width: 320px) {
		.site-grid-nav { 
			margin-top: 0;
			height: auto;
			max-width: 98%;
			margin-left  : 1%;
			margin-right : 1%;
			margin-top   : 1%;
		}
		.site-nav-container-flex {
			display: flex;
			flex-direction: column;
			margin-bottom: 0.5em;
			width: 98%;
			margin: 0 auto;
			justify-content: space-between;
			align-items: center;
		}
}
.site-nav-container-flex-icon {
	position: relative;
	height: 3em;
	margin-top: 1em;
	margin-right: 1.3em;
}
#site-nav-container-flex-icon-1st {
	width: 1.5em;
	position: absolute;
	z-index: 4;
}
#site-nav-container-flex-icon-2nd {
	width: 1.5em;
	position: absolute;
	z-index: 3;
}
#site-nav-container-flex-icon-3rd {
	width: 1.5em;
	position: absolute;
	z-index: 2;
}
#site-nav-container-flex-icon-4th {
	width: 1.5em;
	position: absolute;
	z-index: 1;
}
.img-nav-icon {
	width: 2em;
	place-items: center;
}
.site-nav-link {
	margin-bottom: 0.5em;
}
.site-nav-link:first-child {
	margin-top: 1em;
/*   align-self: center; */
}
.dark-mode-button {
	background-color: #464646;
	border:1px solid #686868;
	border-radius: 15px;
	width: 5em;
	color: #fff;
}
@media only screen  /* WATCH STYLE*/
	and (max-width: 320px) {
		.dark-mode-button { 
			width: 100%;
		}
}










@keyframes rotate { 100% { transform:rotate(360deg); }}