/*  NAV */
.site-grid-nav {
	background: rgba(0,0,0,.05);
	box-shadow: inset -8px 0px 8px 0px rgba(0,0,0,0.33);
}
.site-nav-container-flex {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	
	width: 5em;
}
@media only screen  /* MOBILE STYLE*/
	and (max-width: 1279px) {
		.site-grid-nav { 
			box-shadow: inset 0px -8px 8px 0px rgba(0,0,0,0.33);
		}
		.site-nav-container-flex {
			display: flex;
			flex-direction: row;
			margin-bottom: 0.5em;
			width: 98%;
			margin: 0 auto;
			justify-content: space-between;
			align-items: center;
		}
	}
.site-nav-container-flex-icon {
	position: relative;
	height: 3em;
}
#site-nav-container-flex-icon-1st {
	width: 2em;
	position: absolute;
	z-index: 4;
}
#site-nav-container-flex-icon-2nd {
	width: 2em;
	position: absolute;
	z-index: 3;
}
#site-nav-container-flex-icon-3rd {
	width: 2em;
	position: absolute;
	z-index: 2;
}
#site-nav-container-flex-icon-4th {
	width: 2em;
	position: absolute;
	z-index: 1;
}
.img-nav-icon {
	width: 2em;
	place-items: center;
}
.site-nav-link {
	margin-bottom: 0.5em;
}
.site-nav-link:first-child {
	margin-top: 1em;
/*   align-self: center; */
}
.dark-mode-button {
	background-color: #464646;
	border:1px solid #686868;
	border-radius: 15px;
	width: 100%;
	color: #fff;
}


@keyframes rotate { 100% { transform:rotate(360deg); }}