/*  NAV */
.site-nav {
  background: rgba(0,0,0,.25);
  box-shadow: inset 0 -4px 6px rgba(0,0,0,.33); 
  height: 100vh;
  width: 6em;
  position: fixed;
}
.site-nav-container-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}
@media only screen  /* MOBILE STYLE*/
  and (max-width: 812px) {
    .site-nav {
      height: 3em;
      width: 100vw;
      transform: none;
      top: 0;
      
      }
    .site-nav-container-flex {
      display: flex;
      flex-direction: row;
      margin-bottom: 0.5em;
    }
  }

.img-nav-icon {
  width: 2em;
  place-items: center;
}
.site-nav-link {
  margin-bottom: 0.5em;
}
.site-nav-link:first-child {
  margin-top: 1em;
/*   align-self: center; */
}
.site-nav-container-flex {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.dark-mode-button {
  background-color: #464646;
  border:1px solid #686868;
  border-radius: 15px;
  width: 100%;
  color: #fff;
}